.navigationButtons {
  margin-top: 16px;
  width: 100%;
  justify-content: center;
} 

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.loadingContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.loadingIcon {
  font-size: 5rem;
}


