// Base Colors
$colors-base-blue-1: #ecf8ff;
$colors-base-blue-2: #b2e1ff;
$colors-base-blue-3: #7dcfff;
$colors-base-blue-4: #40b3ff;
$colors-base-blue-5: #148eff;
$colors-base-blue-6: #006aff;
$colors-base-blue-7: #0052ff;
$colors-base-blue-8: #0041ca;
$colors-base-blue-9: #083ca0;
$colors-base-blue-10: #081e4d;
$colors-base-cyan-1: #e6fffb;
$colors-base-cyan-2: #b5f5ec;
$colors-base-cyan-3: #87e8de;
$colors-base-cyan-4: #5cdbd3;
$colors-base-cyan-5: #36cfc9;
$colors-base-cyan-6: #13c2c2;
$colors-base-cyan-7: #08979c;
$colors-base-cyan-8: #006d75;
$colors-base-cyan-9: #00474f;
$colors-base-cyan-10: #002329;
$colors-base-geekblue-1: #f0f5ff;
$colors-base-geekblue-2: #d6e4ff;
$colors-base-geekblue-3: #adc6ff;
$colors-base-geekblue-4: #85a5ff;
$colors-base-geekblue-5: #597ef7;
$colors-base-geekblue-6: #2f54eb;
$colors-base-geekblue-7: #1d39c4;
$colors-base-geekblue-8: #10239e;
$colors-base-geekblue-9: #061178;
$colors-base-geekblue-10: #030852;
$colors-base-gold-1: #fffbe6;
$colors-base-gold-2: #fff1b8;
$colors-base-gold-3: #ffe58f;
$colors-base-gold-4: #ffd666;
$colors-base-gold-5: #ffc53d;
$colors-base-gold-6: #faad14;
$colors-base-gold-7: #d48806;
$colors-base-gold-8: #ad6800;
$colors-base-gold-9: #874d00;
$colors-base-gold-10: #613400;
$colors-base-green-1: #f5fcf8;
$colors-base-green-2: #e6f7ed;
$colors-base-green-3: #b5e2cb;
$colors-base-green-4: #83cca9;
$colors-base-green-5: #52b786;
$colors-base-green-6: #20a164;
$colors-base-green-7: #1d925b;
$colors-base-green-8: #1a8452;
$colors-base-green-9: #177548;
$colors-base-green-10: #14663f;
$colors-base-lime-1: #fcffe6;
$colors-base-lime-2: #f4ffb8;
$colors-base-lime-3: #eaff8f;
$colors-base-lime-4: #d3f261;
$colors-base-lime-5: #bae637;
$colors-base-lime-6: #a0d911;
$colors-base-lime-7: #7cb305;
$colors-base-lime-8: #5b8c00;
$colors-base-lime-9: #3f6600;
$colors-base-lime-10: #254000;
$colors-base-magenta-1: #ffe6f1;
$colors-base-magenta-2: #ffb8d7;
$colors-base-magenta-3: #ff8abe;
$colors-base-magenta-4: #ff5ca4;
$colors-base-magenta-5: #ff2e8b;
$colors-base-magenta-6: #ff0071;
$colors-base-magenta-7: #d90065;
$colors-base-magenta-8: #b30058;
$colors-base-magenta-9: #8c004c;
$colors-base-magenta-10: #66003f;
$colors-base-orange-1: #fffaf2;
$colors-base-orange-2: #fff3e3;
$colors-base-orange-3: #fedaaa;
$colors-base-orange-4: #fec272;
$colors-base-orange-5: #fdaa39;
$colors-base-orange-6: #fc9100;
$colors-base-orange-7: #d77c00;
$colors-base-orange-8: #b16600;
$colors-base-orange-9: #8c5100;
$colors-base-orange-10: #663b00;
$colors-base-purple-1: #fbf5ff;
$colors-base-purple-2: #f6e8ff;
$colors-base-purple-3: #f2dbff;
$colors-base-purple-4: #e8c3ff;
$colors-base-purple-5: #ce93f9;
$colors-base-purple-6: #b164e9;
$colors-base-purple-7: #913ece;
$colors-base-purple-8: #6d2a9e;
$colors-base-purple-9: #481c67;
$colors-base-purple-10: #240f33;
$colors-base-red-1: #fff7f8;
$colors-base-red-2: #ffebef;
$colors-base-red-3: #f8bbc5;
$colors-base-red-4: #f18c9d;
$colors-base-red-5: #e95d75;
$colors-base-red-6: #e22d4c;
$colors-base-red-7: #c32742;
$colors-base-red-8: #a42137;
$colors-base-red-9: #851a2d;
$colors-base-red-10: #661422;
$colors-base-volcano-1: #fff2e8;
$colors-base-volcano-2: #ffd8bf;
$colors-base-volcano-3: #ffbb96;
$colors-base-volcano-4: #ff9c6e;
$colors-base-volcano-5: #ff7a45;
$colors-base-volcano-6: #fa541c;
$colors-base-volcano-7: #d4380d;
$colors-base-volcano-8: #ad2102;
$colors-base-volcano-9: #871400;
$colors-base-volcano-10: #610b00;
$colors-base-yellow-1: #fefbf0;
$colors-base-yellow-2: #fff7e0;
$colors-base-yellow-3: #ffeba8;
$colors-base-yellow-4: #ffdf70;
$colors-base-yellow-5: #fed238;
$colors-base-yellow-6: #fec601;
$colors-base-yellow-7: #d8a901;
$colors-base-yellow-8: #b28b01;
$colors-base-yellow-9: #8c6e00;
$colors-base-yellow-10: #665000;

// Neutral Colors
$colors-neutral-color-bg-base: #fff;
$colors-neutral-color-text-base: #000;
$colors-neutral-color-white: #fff;
$colors-neutral-color-muted-white: #ffffff80;
$colors-neutral-transparent: #0000;

// Brand Colors
$colors-brand-primary-color-primary: $colors-base-blue-6;
$colors-brand-primary-color-primary-hover: $colors-base-blue-5;
$colors-brand-primary-color-primary-active: $colors-base-blue-7;
$colors-brand-primary-color-primary-text: $colors-base-blue-6;
$colors-brand-primary-color-primary-text-hover: $colors-base-blue-5;
$colors-brand-primary-color-primary-text-active: $colors-base-blue-7;
$colors-brand-primary-color-primary-bg: $colors-base-blue-1;
$colors-brand-primary-color-primary-bg-hover: $colors-base-blue-2;
$colors-brand-primary-color-primary-border: $colors-base-blue-3;
$colors-brand-primary-color-primary-border-hover: $colors-base-blue-4;

// Error Colors
$colors-brand-error-color-error: #ff4d4f;
$colors-brand-error-color-error-hover: #ff7875;
$colors-brand-error-color-error-active: #d9363e;
$colors-brand-error-color-error-outline: #ff26060f;
$colors-brand-error-color-error-bg: #fff2f0;
$colors-brand-error-color-error-border: #ffccc7;

// Warning Colors
$colors-brand-warning-color-warning: $colors-base-gold-6;
$colors-brand-warning-color-warning-hover: $colors-base-gold-5;
$colors-brand-warning-color-warning-active: $colors-base-gold-7;
$colors-brand-warning-color-warning-outline: #ffd7051a;
$colors-brand-warning-color-warning-bg: $colors-base-gold-1;
$colors-brand-warning-color-warning-border: $colors-base-gold-3;

// Success Colors
$colors-brand-success-color-success: $colors-base-green-6;
$colors-brand-success-color-success-hover: $colors-base-green-5;
$colors-brand-success-color-success-active: $colors-base-green-7;
$colors-brand-success-color-success-bg: $colors-base-green-1;
$colors-brand-success-color-success-border: $colors-base-green-3;

// Info Colors
$colors-brand-info-color-info: $colors-brand-primary-color-primary;
$colors-brand-info-color-info-hover: $colors-brand-primary-color-primary-hover;
$colors-brand-info-color-info-active: $colors-brand-primary-color-primary-active;
$colors-brand-info-color-info-bg: $colors-brand-primary-color-primary-bg;
$colors-brand-info-color-info-border: $colors-brand-primary-color-primary-border;

// Text Colors
$colors-neutral-text-color-text: #000000e0;
$colors-neutral-text-color-text-secondary: #000000a6;
$colors-neutral-text-color-text-tertiary: #00000073;
$colors-neutral-text-color-text-quaternary: #00000040;
$colors-neutral-text-color-text-disabled: $colors-neutral-text-color-text-quaternary;
$colors-neutral-text-color-text-placeholder: $colors-neutral-text-color-text-quaternary;
$colors-neutral-text-color-text-light-solid: #fff;

// Background Colors
$colors-neutral-bg-color-bg-container: $colors-neutral-color-bg-base;
$colors-neutral-bg-color-bg-elevated: $colors-neutral-color-bg-base;
$colors-neutral-bg-color-bg-layout: #f5f5f5;
$colors-neutral-bg-color-bg-spotlight: #000000d9;
$colors-neutral-bg-color-bg-mask: #00000073;

// Fill Colors
$colors-neutral-fill-color-fill: #00000026;
$colors-neutral-fill-color-fill-secondary: #0000000f;
$colors-neutral-fill-color-fill-tertiary: #0000000a;
$colors-neutral-fill-color-fill-quaternary: #00000005;

// Border Colors
$colors-neutral-border-color-border: #d9d9d9;
$colors-neutral-border-color-border-secondary: #f0f0f0;
$colors-neutral-border-color-split: #0000000f;

// Font Sizes
$default-font-size: 14;
$h1-size: 38;
$h2-size: 30;
$h3-size: 24;
$h4-size: 20;
$h5-size: 16;
$h6-size: 12;