.quill {

  :global {
    .ql-editor {
      min-height: 15rem;
      line-height: 1.5;
    }

    .ql-container {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    .ql-toolbar {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
}
