$header-bg-color: #fff;

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $header-bg-color;
  padding: 1.6rem !important;
  border-bottom: 0.1rem solid $colors-neutral-border-color-border;
  height: 6.4rem;
}

.logo {
  width: 9rem;
  height: 1.2rem;
}

.left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $colors-neutral-color-bg-base;
  overflow: hidden;
}


.right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: $colors-neutral-bg-color-bg-layout;
}


.content {
  overflow-y: auto;
  background-color: $colors-neutral-color-bg-base;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contentInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 6.4rem);
  padding: 2rem 16rem;
}

.backButton {
  cursor: pointer;
  z-index: 20;
  position: relative;
}
