.container {
  width: 100%;
  height: 100%;
  padding: 8rem; 
  background: $colors-neutral-bg-color-bg-layout;
}

.previewImage {
  width: 100%;
  height: 100%;
}

.viewPdfButton {
  margin-top: 2rem;
  width: 100%;
}
